<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/name.jpeg" alt="name" class="img-thumbnail rounded-circle" width="170">
      <h1 class="display-4">Randomisuer</h1>
      <p class="lead">Gamer & programmer</p>
    </div>
  </div>
</div>